@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.songs {
    background: $bkrndLight;
}

// .songs__header-clip {
//     width: 0;
//     height: 0;
//     border-top: 20rem solid transparent;
//     /* высота треугольника */
//     border-right: 50rem solid red;
//     /* ширина треугольника и его цвет */
//     clip-path: polygon(0 0, 100% 0, 50% 100%);

// }

.songs-list__title-length {
    text-align: right;
    font-size: 0.8rem;
    color: $darkText;
    font-weight: 100;
    margin-right: 0.5rem;
}

// .songs-list__length {
//     float: right;
// }

.songs-list__header {
    margin: 0;
    font-size: 1.1rem;

}



.songs-list__song,
.songs-list__length {
    color: #777;
    font-family: IbmLight;
    transition: color 0.8s ease
}

.songs-list__author {
    @include font(medium);
    grid-area: author;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.songs-list__song {
    grid-area: song;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.songs-list__length {
    grid-area: length;

}

.songs-list__play-button {
    grid-area: play;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    // max-width: rem;

    min-width: 6rem;

}



.songs-list__play-button-no-audio {
    grid-row: span 2;
    width: 6rem;

}

.play-bar {
    grid-area: volumeBar;
    // width: 100%;
    // padding: 0 1rem;
}

.song-list__no-audio-text {
    text-align: center;
    // color: #777;
}

// .songs-list__author,
// .songs-list__song,
// .songs-list__length,
// .progress {
//     align-self: center;
// }

.progress {
    grid-area: time;
    // display: block;
    font-size: 0.9rem;
    // color: #777;
    text-align: center;
    cursor: auto;
    justify-self: center;
}


.songs-list__song-row {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'play author -'
        'play song length'
        'time . .'
        'volumeBar volumeBar volumeBar'
    ;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 0.75rem 2.2rem;
    font-size: 1rem;
    user-select: none;
    text-decoration: initial;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0), rgb(0, 0, 0, 0.0) 50%);
    transition: background-image 1s ease, border-radius 0.2s ease, color 0.5s ease;
    border-radius: 0;
    margin: 0.8rem 0.4rem;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.187);
    // transition: box-shadow 0.2s ease-in-out;
    border-radius: 5px;
    text-overflow: ellipsis;
    // white-space: nowrap;
    overflow: hidden;
    column-gap: 0.5rem;

    &:last-child {
        margin-bottom: 0;
    }

    .songs-list__author,
    .songs-list__song,
    .songs-list__length {
        pointer-events: none;


    }

    // &:nth-child(odd) {
    //     background: $darkRed;
    // }
    &:hover {
        background: #fff;

        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.208), 1px 2px 2px 1px white;

    }

    &.checked {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.864), rgba(0, 0, 0, 0.557) 93%);
        // text-decoration: line-through;
        color: #fff;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.493);
        border-radius: 17px;

        .songs-list__song,
        .songs-list__length {
            color: #ffffffa5;
        }



        &:hover {
            background-image: linear-gradient(to left, rgba(0, 0, 0, 0.594), rgba(0, 0, 0, 0.756) 93%);


        }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     border-color: #fff;
        //     border-style: solid;
        //     border-width: 0 2px 2px 0;
        //     top: .9rem;
        //     left: 1rem;
        //     transform: rotate(45deg);
        //     height: .9rem;
        //     width: .4rem;
        // }
    }
}



.MuiAccordion-root.Mui-expanded {
    width: 40rem;

    // padding: 0;
}

// .MuiPaper-root.MuiAccordion-root {
//     transition: margin 1s ease;
// }

.MuiPaper-root.MuiAccordion-root.Mui-expanded {
    margin: auto;
}

.raiders,
.button-wrapper-songs {
    background-color: $bkrndLight;
}

.songs-list-link__download {
    text-decoration: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.184);
    border: 1px #d32f2f solid;
    border-radius: 4px;
    min-width: 64px;
    padding: 6px 8px;
    transition: background-color 0.2s ease, color 0.2s ease;
    width: 15rem;
    text-align: center;
    background-color: #d32f2f;
    color: #fff;
    font-family: IBMLight;

    &:active {
        color: #d32f2f;
        background-color: #f5f5f5;

    }
}