@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.songs {
    background: $bkrndLight;
}

// .songs__header-clip {
//     width: 0;
//     height: 0;
//     border-top: 20rem solid transparent;
//     /* высота треугольника */
//     border-right: 50rem solid red;
//     /* ширина треугольника и его цвет */
//     clip-path: polygon(0 0, 100% 0, 50% 100%);

// }

.songs-list__title-length {
    text-align: right;
    font-size: 0.8rem;
    color: $darkText;
    font-weight: 100;
}

.songs-list__length {
    float: right;
}

.songs-list__header {
    margin: 0;
    font-size: 1.1rem;

}

.songs-list__song,
.songs-list__length {
    color: inherit;
    font-family: IbmLight;
}

.songs-list__author {
    @include font(medium);

}

.songs-list__song-row {
    cursor: pointer;
    position: relative;
    padding: 0.75rem 2.2rem;
    font-size: 1rem;
    transition: 0.2s;
    user-select: none;
    text-decoration: initial;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 70%);
    transition: background-image 1s ease, border-radius 0.2s ease, color 0.5s ease;
    border-radius: 0;
    margin: 0.2rem 0;

    &:last-child {
        margin-bottom: 0;
    }

    .songs-list__author,
    .songs-list__song,
    .songs-list__length {
        pointer-events: none;

    }

    // &:nth-child(odd) {
    //     background: $darkRed;
    // }
    &:hover {
        background: #fff;

        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.208);

    }

    &.checked {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.864), rgba(0, 0, 0, 0.557) 93%);
        // text-decoration: line-through;
        color: #fff;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.493);
        border-radius: 17px;



        &:hover {
            background-image: linear-gradient(to left, rgba(0, 0, 0, 0.594), rgba(0, 0, 0, 0.756) 93%);


        }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     border-color: #fff;
        //     border-style: solid;
        //     border-width: 0 2px 2px 0;
        //     top: .9rem;
        //     left: 1rem;
        //     transform: rotate(45deg);
        //     height: .9rem;
        //     width: .4rem;
        // }
    }
}

.after-songs-list {
    margin-top: 2rem;
    margin-bottom: 0;
}

.MuiAccordion-root.Mui-expanded {
    width: 40rem;

    // padding: 0;
}

// .MuiPaper-root.MuiAccordion-root {
//     transition: margin 1s ease;
// }

.MuiPaper-root.MuiAccordion-root.Mui-expanded {
    margin: auto;
}

.raiders,
.button-wrapper-songs {
    background-color: $bkrndLight;
}