// @font-face {
//     font-family: 'FiraBold';
//     src: url(/fonts/FiraSans/FiraSans-Bold.ttf);
// }
// @font-face {
//     font-family: 'FiraLight';
//     src: url(/fonts/FiraSans/FiraSans-Light.ttf);
// }
// @font-face {
//     font-family: 'FiraRegular';
//     src: url(/fonts/FiraSans/FiraSans-Regular.ttf);
// }
// @font-face {
//     font-family: 'FiraMedium';
//     src: url(/fonts/FiraSans/FiraSans-Medium.ttf);
// }

// @mixin fira($style: regular) {
//     @if $style == regular {
//         font-family: 'FiraRegular';
//     }
//     @if $style == bold {
//         font-family: 'FiraBold';
//     }    
//     @if $style == medium {
//         font-family: 'FiraMedium';
//     }    
//     @if $style == light {
//         font-family: 'FiraLight';
//     }    
// }

// @font-face {
//     font-family: 'FiraBold';
//     src: url(/fonts/FiraSans/FiraSans-Bold.ttf);
// }
/* roboto-slab-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-regular.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-regular.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-regular.svg#RobotoSlab') format('svg');
    /* Legacy iOS */
}

/* roboto-slab-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'RobotoMedium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-500.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-500.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-500.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-500.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/Roboto_Slab/roboto-slab-v25-cyrillic_latin-500.svg#RobotoSlab') format('svg');
    /* Legacy iOS */
}


/* ibm-plex-sans-200 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IbmExtraLight';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-200.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-200.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-200.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-200.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-200.svg#IBMPlexSans') format('svg');
    /* Legacy iOS */
}

/* ibm-plex-sans-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IbmLight';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-300.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-300.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-300.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-300.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../fonts/IBM_Plex_Sans/ibm-plex-sans-v19-cyrillic_latin-300.svg#IBMPlexSans') format('svg');
    /* Legacy iOS */
}


@mixin font($style: regular) {
    @if $style ==medium {
        font-family: 'RobotoMedium';
    }

    @if $style ==regular {
        font-family: 'RobotoRegular';
    }

    @if $style ==light {
        font-family: 'IbmLight';
    }

    @if $style ==extraLight {
        font-family: 'IbmExtraLight';
    }
}