@media screen and (min-width: 1600px) {
    html {
        font-size: 22px;
    }
}

@media screen and (max-width: 1600px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 18px;
    }

    // .titles {
    //     &::before {
    //         left: 30%;
    //     }
    // }

    .intro {
        background-size: 120% 120%;
        background-position: 50% 0%;
    }
}

// @media screen and (max-width: 1337px) {
//     .intro {
//         background-size: 120% auto;
//     }
// }

@media screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }

    // .intro {
    //     background-size: 110% 120%;
    // }

    // .titles {
    //     &::before {
    //         left: 34%;
    //     }
    // }
}

@media screen and (max-width: 1100px) {
    .intro {
        background-size: 130% 115%;
        background-position: 50% 0%;
    }

    // .titles {
    //     &::before {
    //         left: 34%;
    //     }
    // }

    .MuiAccordion-root.Mui-expanded.accordion {
        width: 100%;
    }

    .paragraph {
        padding: 0 15%;
    }
}

@media screen and (max-width: 980px) {
    html {
        font-size: 15px;
    }

    .intro {
        background-size: 120% 110%;
        // background-position: top;
    }
}

@media screen and (max-width: 908px) {
    .container {
        padding: 2rem !important;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 15px;
    }

    .intro {
        background-attachment: unset;
        background-size: cover;
        background-position: 50% 0%;
        min-height: 80vh;
    }

    .titles {
        // margin: 10vh 21vw 0;
        width: auto;

        &__desc {
            left: 5rem;
        }
    }

    .features {
        .features-wrap {
            gap: 1rem
        }

    }

    .intro {
        margin-top: 3.7rem;
    }

    .navbar {
        height: 3.7rem !important;

    }

    // .navbar__logo {
    //     display: none;
    // }

}

@media screen and (max-width: 778px) {
    // .intro {
    //     background-size: 180% 100%;
    //     background-position: center;
    // }

    // .titles {
    //     margin: 10vh 11vw 0;
    // }
}

@media screen and (max-width: 625px) {
    html {
        font-size: 14px;
    }

    .titles {
        &::before {
            border-bottom: 5rem solid #ffffff;
            top: -4.1rem;
        }


    }

    .container {
        padding: 1rem !important;
    }

    .features-wrap {
        justify-content: center !important;

        .features__card {
            width: 90% !important;
        }
    }

    .raider-wrapper {
        flex-wrap: wrap;
        gap: 2rem !important;
    }

    .MuiButtonBase-root.MuiButton-root.raider-button {
        width: 16.2rem;
    }

    .MuiAccordionDetails-root {
        padding: 0.3rem 0.3rem !important;
    }

    .songs-list__song-row {
        padding: 0.75rem 1rem !important;

        &.checked {
            &::before {
                content: none !important;
            }
        }
    }

    .minSwiper {
        padding: 5px 0 !important;
    }
}

@media screen and (max-width: 550px) {

    .intro {
        min-height: 70vh;
        background-size: 167% 110%;
        background-position: 50% 0%;
    }

    .titles {
        // margin: 8vh 5vw 0;

        // &::before {
        //     border-bottom: 7rem solid #ffffff;
        //     left: 10rem;
        //     top: -6.4rem;
        // }

        &__main {
            font-size: 1.5rem;
        }

        &__desc {
            font-size: 1.2rem;
            // width: 20rem;
        }


    }
}

@media screen and (max-width: 450px) {
    .intro {
        min-height: 80vh;
        background-size: 174vw 80vh;
        background-position: 50% 50%;
    }

    .titles {
        display: flex;
        // margin: 5rem 3vw 0;
        flex-direction: column;
        min-width: 0;

        &::before {
            left: 23%;
            top: -4.5rem
        }

        &__main {
            font-size: 1.2rem;
        }

        &__desc {
            // left: 2rem !important;
            position: static;
            font-size: 1.1rem;
            max-width: 20rem;
            min-width: 0;
        }
    }

    .container {
        padding: 1rem 0.3rem;
    }

    // .navbar {
    //     z-index: 9000 !important;
    // }

    // .titles__main {
    //     font-size: 1.5rem;
    // }

    .titles__desc {
        font-size: 1rem;
    }

    .paragraph {
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    .songs-list__song-row {
        font-size: 11px !important;
        padding: 0.75rem 0.3rem !important;


    }

    .songs-list__header {
        font-size: 1rem !important;
    }

    .popup {

        &-author,
        &-song,
        &-length {
            font-size: 0.7rem;

        }

        &-song {
            padding-right: 1rem !important;
        }

        &-length {
            padding-right: 0.5rem !important;
        }
    }

    .MuiPaper-root.MuiAccordion-root {
        width: 60%;
    }

    .video-container {
        gap: 1.3rem !important;

        .video-container__item {
            flex-basis: 100% !important;
            box-shadow: 0.2rem 0.2rem 0.1rem black, 0rem 0rem 0rem rgba(255, 255, 255, 0.218), inset -0.7rem -0.6rem 0.4rem rgba(0, 0, 0, 0.714) !important;

            &:hover {
                box-shadow: 0.4rem 0.5rem 0.3rem black, 0.3rem 0.5rem 1.5rem rgba(255, 255, 255, 0.39), inset 0.2rem 0.4rem 0.2rem rgba(255, 255, 255, 0.107) !important;
            }
        }
    }


}