@media screen and (min-width: 1600px) {
    html {
        font-size: 22px;
    }
}

@media screen and (max-width: 1600px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 18px;
    }

    // .titles {
    //     &::before {
    //         left: 30%;
    //     }
    // }

    .intro {
        background-size: 120% 120% !important;
        background-position: 50% 0% !important;
    }
}

// @media screen and (max-width: 1337px) {
//     .intro {
//         background-size: 120% auto;
//     }
// }

@media screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }

    // .intro {
    //     background-size: 110% 120%;
    // }

    // .titles {
    //     &::before {
    //         left: 34%;
    //     }
    // }
}

@media screen and (max-width: 1100px) {
    .intro {
        background-size: 130% 115% !important;
        background-position: 50% 0% !important;
    }

    // .titles {
    //     &::before {
    //         left: 34%;
    //     }
    // }

    .MuiAccordion-root.Mui-expanded.accordion {
        width: 100%;
    }

    .paragraph {
        padding: 0 15%;
    }
}

@media screen and (max-width: 980px) {
    html {
        font-size: 15px;
    }

    .intro {
        background-size: 120% 110% !important;
        // background-position: top;
    }
}

@media screen and (max-width: 908px) {
    .container {
        padding: 2rem !important;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 15px;
    }

    .intro {
        background-attachment: unset !important;
        background-size: cover !important;
        background-position: 50% 0% !important;
        min-height: 80vh !important;
    }

    .titles {
        // margin: 10vh 21vw 0;
        width: auto !important;

        &__desc {
            left: 5rem !important;
        }

        &::after {
            right: 25% !important;
        }
    }

    .features {
        .features-wrap {
            gap: 1rem !important;
        }

    }

    .intro {
        margin-top: 3.7rem !important;
    }

    .navbar {
        height: 3.7rem !important;

    }

    // .navbar__logo {
    //     display: none;
    // }

}

@media screen and (max-width: 778px) {
    // .intro {
    //     background-size: 180% 100%;
    //     background-position: center;
    // }

    // .titles {
    //     margin: 10vh 11vw 0;
    // }
}

@media screen and (max-width: 625px) {
    html {
        font-size: 14px;
    }

    .titles {
        &::before {
            border-bottom: 5rem solid #ffffff !important;
            top: -4.1rem !important;
        }


    }

    .container {
        padding: 1rem !important;
    }

    .features-wrap {
        justify-content: center !important;

        .features__card {
            width: 90% !important;
        }
    }

    .raider-wrapper {
        flex-wrap: wrap;
        gap: 2rem !important;
    }

    .MuiButtonBase-root.MuiButton-root.raider-button,
    .songs-list-link__download {
        width: 16.2rem;
    }

    .MuiAccordionDetails-root {
        padding: 0.3rem 0.3rem !important;
    }

    .songs-list__song-row {
        padding: 0.75rem 1rem !important;

        &.checked {
            &::before {
                content: none !important;
            }
        }
    }

    .minSwiper {
        padding: 5px 0 !important;
    }
}

@media screen and (max-width: 550px) {

    .intro {
        min-height: 70vh !important;
        background-size: 167% 110% !important;
        background-position: 50% 0% !important;
    }

    .titles {
        // margin: 8vh 5vw 0;

        // &::before {
        //     border-bottom: 7rem solid #ffffff;
        //     left: 10rem;
        //     top: -6.4rem;
        // }

        &::after {
            top: 28% !important;
        }

        &__main {
            font-size: 1.5rem !important;
        }

        &__desc {
            font-size: 1.2rem !important;
            // width: 20rem;
        }


    }
}

@media screen and (max-width: 450px) {
    .intro {
        min-height: 50vh !important;
        background-size: 150vw 50vh !important;
        background-position: 50% 50% !important;
    }

    .about {
        background-size: 300% 100% !important;
        background-position: 47% 50% !important;
    }

    .titles {
        display: flex !important;
        // margin: 5rem 3vw 0;
        flex-direction: column !important;
        min-width: 0 !important;

        &::before {
            left: 25% !important;
            top: -1.3rem !important;
            border-bottom: 1.7rem solid #ffffff !important;
        }

        &::after {
            top: 26% !important;
            height: 1.2rem !important;
        }

        &__main {
            font-size: 1.2rem !important;
        }

        &__desc {
            left: 1.8rem !important;
            // position: static;
            font-size: 1.1rem !important;
            max-width: 16rem !important;
            min-width: 0 !important;
            letter-spacing: -1.7px !important;
        }
    }

    // .container {
    //     padding: 1rem 0.3rem !important;
    // }

    // .navbar {
    //     z-index: 9000 !important;
    // }

    // .titles__main {
    //     font-size: 1.5rem;
    // }

    .titles__desc {
        font-size: 1rem !important;
    }

    .paragraph {
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    .songs-list__song-row {
        font-size: 12px !important;
        padding: 0.75rem 0.9rem !important;

        &:last-child {
            margin-bottom: 0.5rem !important;

        }

        &.checked {
            border-radius: 7px !important;
        }


    }

    .songs-list__header {
        font-size: 1rem !important;
    }

    .popup {

        &-author,
        &-song,
        &-length {
            font-size: 0.7rem;

        }

        &-song {
            padding-right: 1rem !important;
        }

        &-length {
            padding-right: 0.5rem !important;
        }
    }

    .MuiPaper-root.MuiAccordion-root {
        width: 60%;
    }

    .video-container {
        gap: 1.3rem !important;

        .video-container__item {
            flex-basis: 100% !important;
            box-shadow: 0.2rem 0.2rem 0.1rem black, 0rem 0rem 0rem rgba(255, 255, 255, 0.218), inset -0.7rem -0.6rem 0.4rem rgba(0, 0, 0, 0.714) !important;

            &:hover {
                box-shadow: 0.4rem 0.5rem 0.3rem black, 0.3rem 0.5rem 1.5rem rgba(255, 255, 255, 0.39), inset 0.2rem 0.4rem 0.2rem rgba(255, 255, 255, 0.107) !important;
            }
        }
    }

    // .MuiSlider-root {
    //     padding: 1rem !important;
    //     width: 83% !important;
    // }

}

@media screen and (max-height: 450px) {
    .intro {
        min-height: 100vh !important;
        background-size: 100% !important;
        background-position: 50% 0% !important;
        margin-top: 3.7rem !important;
    }

    .titles {
        display: flex !important;
        // margin: 5rem 3vw 0;
        flex-direction: column !important;
        min-width: 0 !important;
        margin: 15% auto 0 auto !important;

        &::before {
            left: 27% !important;
            top: -2rem !important;
            border-bottom: 2rem solid #ffffff !important;
        }

        &::after {
            top: 26% !important;
            height: 1.2rem !important;
        }

        &__main {
            font-size: 1.2rem !important;
        }

        &__desc {
            // left: 2rem !important;
            position: static !important;
            font-size: 1.1rem !important;
            max-width: 20rem !important;
            min-width: 0 !important;
            letter-spacing: -1.9px !important;
        }
    }
}