// vars
$white: rgba(255, 255, 255, 0.702);
$whiteMedium: rgba(255, 255, 255, 0.55);
$whiteLow: rgba(255, 255, 255, 0.35);

//основной
$bkrndDark: #181818;
$bkrndLight: #f5f5f5;
$bkrndNavBar: #202020;
$darkText: rgb(0, 0, 0, 0.87);
$lightText: rgb(255, 255, 255);
$song_color: rgb(241, 122, 136);
$red: #d32f2f;
//Прозрачный красный
$green_hover: rgb(42, 130, 42);
$green_active: rgb(16, 168, 16);

$line: rgba(0, 0, 0, 0.061);

$h2: 2.5rem;
$h3: 1.4rem;
$p: rgba(255, 255, 255, 0.809);