// vars
$white: rgba(255, 255, 255, 0.702);
$whiteMedium: rgba(255, 255, 255, 0.55);
$whiteLow: rgba(255, 255, 255, 0.35);
$yellow: rgb(255, 208, 0);
$dark: #414141;
//основной
$red: rgb(86, 43, 48);
$song_color: rgb(241, 122, 136);
$darkRed: rgb(79, 40, 44);
//Прозрачный красный
$green_hover: rgb(42, 130, 42);
$green_active: rgb(16, 168, 16);

$line: rgba(0, 0, 0, 0.061);

$h2: 2.5rem;
$h3: 1.4rem;
$p: rgba(255, 255, 255, 0.809);