@import '../../styles/variables.scss';

.contacts {
    background: #f5f5f5;
    color: $darkText;
}

.contacts__card {
    transform-style: preserve-3d;
    box-shadow:
        // -7px -7px 20px 0px #fff9,
        // -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    border-radius: 10px;
    // width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // border: 2px solid black;
    padding: 2.5rem;
    // background-color: rgb(212, 212, 212);
}

// .contacts__button {}

.contacts__wrapper {
    display: flex;
    justify-content: center;

    // .form {
    //     border-right: solid 1px $line;
    //     width: 60%;
    // }

    // .manager {

    // }
    .manager-item {
        text-align: center;
        transform: translateZ(60px);
    }

    .manager__title {
        // color: #ffffff;
        font-weight: bold;
        line-height: 1.5;
        margin: 0 0 0.5rem 0;
        display: block;
        // font-size: $h3;
        text-align: center;
    }

    .manager__img {
        width: 10rem;
        height: 10rem;
        border: 2px solid $line;
        border-radius: 50%;
        // transform: translateZ(60px);

    }

    .manager__phone {

        padding: 0.5rem;
        border-radius: 3px;
        // background: #ebeced;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        // -webkit-tap-highlight-color: transparent;
        // box-shadow:
        //     -7px -7px 20px 0px #fff9,
        //     -4px -4px 5px 0px #fff9,
        //     7px 7px 20px 0px #0002,
        //     4px 4px 5px 0px #0001;
        // inset 0px 0px 0px 0px #fff9,
        // inset 0px 0px 0px 0px #0001,
        // inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
        // transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
        // font-size: 16px;
        // color: rgba(42, 52, 84, 1);
        text-decoration: none;
        cursor: pointer;

        // &:active {
        //     box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        //         -4px -4px 6px 0 rgba(116, 125, 136, .2),
        //         inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        //         inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        // }
    }
}