$rhap_background-color: rgba(255, 255, 255, 0.96); // Color of all buttons and volume/progress indicators
$rhap_theme-color: #D32f2f; // Color of the player background
$rhap_bar-color: #debaba; // Color of volume and progress bar
$rhap_time-color: #777; // Font color of current time and duration
// $rhap_font-family: inherit !default;   // Font family of current time and duration
@import '~react-h5-audio-player/src/styles.scss';