@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.intro {
    background: url(../../images/head_photo.jpg) #202020;
    // background-attachment: fixed;
    // background-position: 50% 0%;
    background-size: 100% 128%;
    background-repeat: no-repeat;
    // background-blend-mode: exclusion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: stretch;
    // min-height: calc(100vh + 50pt);
    min-height: 100vh;
    color: black;
    margin-top: 5rem;
    // row-gap: 1rem;
}

.titles {
    width: 50%;
    margin: 30vh 25vw 0 30vw;
    position: relative;

    &::before {
        content: '';
        width: 0;
        height: 0;
        // border-top: 50px solid red;
        border-bottom: 8rem solid #ffffff;
        border-right: 0.5rem solid transparent;
        border-left: 1rem solid transparent;
        position: absolute;
        left: 8rem;
        top: -7rem;

    }


}

.titles__main,
.titles__desc {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 2rem;
    text-align: right;
    margin: 0 0 0.5rem 0;
    border-radius: 0.5rem;
    @include font(regular);
}

.titles__main {
    padding: 0 1rem;
}

// .titles__div-desc {}

.titles__desc {
    position: relative;
    left: 7rem;
    font-size: 1.3rem;
    // font-weight: 200;
    // float: right;
    // margin: auto;
    padding: 0 1rem 0 0;
    width: 24rem;
}

.intro__button {
    width: 12rem;
    height: 3rem;
}