@import '../../styles/variables.scss';

.media {
    background: #111;


    .video-container {
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-wrap: wrap;
        row-gap: 2rem;
        column-gap: 2rem;
        max-width: 100%;
        height: 100%;
        margin-bottom: 2rem;

        @each $preview in 1,
        2,
        3 {
            .preview-#{$preview} {
                background: url(../../images/icons/icons8-youtube-play.svg) no-repeat center,
                url(../../images/preview#{$preview}.jpg) no-repeat center;

            }
        }

        .video-container__item {
            width: 300px;
            height: 168.75px;
            position: relative;
            // padding-top: 56.25%;
            background-size: 25%, 100%;

            border-radius: 0.3rem;
            box-shadow: 0.4rem 0.4rem 0.3rem black, 0.5rem 0rem 5rem rgba(255, 255, 255, 0.218);

            &:hover {
                cursor: pointer;
                opacity: 1;
                box-shadow: 0.8rem 1rem 0.3rem black, 0.5rem 0rem 5rem rgba(255, 255, 255, 0.39);
                transition: opacity 0.4s ease, box-shadow 0.2s ease;
            }

            .video__frame {
                width: 100%;
                height: 100%;
            }
        }
    }

}