@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.navbar {
    background: $bkrndNavBar;
    height: 5rem;
    left: 0;
    line-height: 4rem;
    overflow: hidden;
    padding: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
    position: fixed;
    box-sizing: border-box;
    // background: rgba(17, 17, 17);
    backdrop-filter: blur(10px);
    padding: 0 2rem;

    .navbar__container {
        display: flex;
        // justify-content: space-evenly;
        justify-content: flex-end;
        flex-direction: row;
        align-items: stretch;
        height: inherit;
        line-height: inherit;
        transform: translateY(0);
        transition: opacity 1s ease;
        min-height: 100%;
        opacity: 1;
        width: 100%;

        .navbar__tel {
            align-self: center;
            text-decoration: none;
            color: #fff;
            @include font(extraLight);
        }

        .navbar__logo {
            width: 6rem;
            height: 3rem;
            align-self: center;
            margin-right: auto;
            // background: url(../../images/pokerface_logo.svg) no-repeat center/cover;
            // color: #fff;
        }



        .nav {
            height: inherit;
            line-height: inherit;

            .nav__list {
                display: flex;
                height: inherit;
                line-height: inherit;
                margin: 0;
                text-align: right;

                .nav__item {
                    transform: translateY(0);
                    transition: opacity 0.15s ease, transform 0.75s ease;
                    opacity: 1;
                    position: relative;
                    padding: 0;
                    display: block;
                    height: inherit;
                    line-height: inherit;
                    margin: 0 0 0 2em;
                    padding: 0;

                    &:nth-child(1) {
                        margin: 0;
                    }

                    // &:nth-child(4) {
                    //     margin-right: 2rem;
                    // }
                }

                .nav__link {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $white;
                    letter-spacing: 0.15rem;
                    position: relative;
                    padding: 0.5rem 0;
                    display: block;
                    transition: color 0.2s ease;
                    border: 0;
                    font-size: 0.8rem;
                    outline: 0;
                    cursor: pointer;

                    &::before,
                    &::after {
                        border-radius: 0.25rem;
                        bottom: 1.5rem;
                        content: '';
                        height: 2px;
                        position: absolute;
                        right: 0;
                        width: 100%;
                    }

                    &::before {
                        background: rgb(255, 255, 255);
                        transition: max-width 0.2s ease;
                        max-width: 0;
                    }

                    &::after {
                        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.125), rgb(255, 255, 255));
                        transition: max-width 0.2s ease;
                        max-width: 0;
                    }

                    &:hover {
                        color: #fff;

                        &::after {

                            transition: max-width 0.2s ease;
                            max-width: 100%;
                        }

                        &::before {


                            max-width: 100%;
                        }

                    }

                    &.active {
                        background-color: inherit;
                        color: #ffffff;

                        &::after {
                            background-image: linear-gradient(to right, rgba(255, 255, 255, 0.261), $red);
                            max-width: 100%;
                            transition: max-width 0.2s ease;
                        }
                    }
                }
            }
        }
    }
}

.navbar__phone-button {
    align-self: center;

    @include font(extraLight);
}

.snack-menu__logo {
    width: 6rem;
    height: 3rem;
}