@import-nirmalize;

@import './styles/fonts.scss';
@import './styles/variables.scss';

@mixin h3 {
  // color: #ffffff;
  @include font(regular);
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
  letter-spacing: 0.5Q;
}

@mixin p {
  @include font(extraLight);
  font-size: 1.3rem;
  margin: 0 0 2rem 0;
  // color: $whiteMedium;
}

@mixin h2 {
  @include font(regular);
  font-size: 2rem;
  margin-top: 0;
  // color: #fff;
}

html {
  font-size: 18px;
  line-height: 1.75;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  @include font(extraLight);
  margin: 0;
  // color: $p;
  box-sizing: border-box;
  background-color: #111;
  overflow: auto;
}

body.lock {
  overflow: hidden;
}


.paragraph {
  @include p;
  // padding: 0 10rem;
  text-align: center;
  padding: 0 15%;
  line-height: 1.3;
}

// span {
//   @include p;
//   margin: 0;
// }

.section-title {
  @include h2;
  text-align: center;

}

h3 {
  @include h3;
  margin: 0 0 0.5rem 0;
}

h4 {
  @include p;
  margin: 0;
  font-size: 1rem;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

// .wrapper {
//   padding-top: 4rem;
// }
.cursor {
  font-size: 1.3rem;
  background: #111;
  color: transparent;
}


// .main__title {
//   @include h2;
//   font-size: 2.75rem;
//   color: #ff4545d9;
// }



.about,
.video,
.footer {
  color: $white;
}




.field__label {
  @include h3;
}

.field__input {
  @include font(extraLight);
  font-size: 1.1rem;
}

html:root {
  --swiper-theme-color: white;
}


.paragraph__link_red {
  color: $song_color;
}

.paragraph__link_blue {
  color: #63daff;
}

.paragraph__link,
.paragraph__link_red,
.paragraph__link_blue {
  text-decoration: none;
  opacity: 0.9;
  transition: opacity 0.2s ease, text-shadow 0.2s ease;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    opacity: 1;
    text-shadow: 0rem 0 2rem rgba(255, 255, 255, 0.364);
    transition: opacity 0.2s ease, text-shadow 0.2s ease;
  }
}

.MuiButtonBase-root.MuiButton-root {
  text-transform: capitalize;
  // font-family: inherit;
  @include font(regular);
}

.MuiButtonBase-root.MuiButton-root.raider-button {
  width: 15rem;
}