@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.trackItem.hidden {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.trackItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;


  .songs-list__play-button {
    // flex-basis: auto;
    margin: 0 0 0 auto;
  }
}

.popup-titles {
  font-size: 0.9rem;
  padding-bottom: 0.3rem;
  color: #777;
  letter-spacing: -1px;
  // min-width: 35rem;

  // &__row {
  //   display: flex;
  //   justify-content: space-between;

  // }
}

.popup-song {
  padding-right: 2rem;
}

.popup__title-length {
  float: right;
  padding-right: 1rem;
}

.popup-length {
  margin: 0;
  // padding-right: 1rem;
}

.popup__title-song {
  padding-left: 5rem;
}

.popup__header {
  font-family: RobotoRegular !important;
}

.popup-total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  grid-template-areas:
    'header header'
    'songs length';
  width: fit-content;
  // height: fit-content;
  margin: 1rem auto 0;

  &__title {
    grid-area: header;
    text-align: center;
    font-family: RobotoRegular;
    font-size: 1rem;
  }

  &__songs {
    grid-area: songs;
    text-align: center;
    font-size: 1rem;
    // width: min-content;
  }

  &__length {
    grid-area: length;
    text-align: center;
    font-size: 1rem;
    // width: max-content;
  }

  &__count {
    // background-color: $bkrndNavBar;
    background-color: #d32f2f;
    color: $lightText;
    padding: 0.25rem;
    font-size: 0.8rem;
    font-family: RobotoRegular;
    border-radius: 7px;
  }

}

.after-songs-list {
  margin: 1rem auto 0 auto;
  // text-align: left;

  padding: 0;
  font-size: 1rem;
  // max-width: 19rem;

}

.copy-instructions {
  font-family: IbmLight;

}